@page "/analysis"

@using Plotly.Blazor.Traces.ScatterLib
@using WebApplication.Data

@inject AnalysisService AnalysisService

<p>
    <input @bind="XsInput" /> 
    <input @bind="YsInput" /> 
    <input type="number" @bind="a" /> 
    <button type="button" class="btn btn-primary" @onclick="() => CalcAndDraw(XsInput, YsInput, a)">Draw</button>
    <button type="button" class="btn btn-primary" @onclick="Clear">Clear</button>
    <button type="button" class="btn btn-primary" @onclick="DeleteScatter">Pop</button>
</p>

<div class="" style="display: flex; justify-content: flex-start">
    <PlotlyChart style="height: 60vh; min-height: 350px; min-width: 100vh; width: 100px"
                 @bind-Config="config" @bind-Layout="layout" @ref="chart"/>
    
    @if (analysis == null)
    {
    	<div></div>
    }
    else if (analysis == null && IsClicked)
    {
        <div>Loading...</div>
    }
    else
    {
        <div class="">
            <p>Среднее значение Х: @analysis.MeanX</p>
            <p>Среднее значение Y: @analysis.MeanY</p>
            <p>Значение Sx: @analysis.Sx</p>
            <p>Значение Sy: @analysis.Sy</p>
            <p>Коэффициент корреляции: @analysis.Correlation</p>
            <p>Значимость: @analysis.SignificanceCorrelation</p>
            <p>@analysis.ConfidenceIntervalCorrelation</p>
            <p>Эмпирическое уравнение регрессии Y на X: @analysis.EquationYX</p>
            <p>Эмпирическое уравнение регрессии X на Y: @analysis.EquationXY</p>
            <p>@analysis.confidenceIntervalA</p>
            <p>@analysis.confidenceIntervalB</p>
            <p>Коэффициент детерминации: @analysis.Determination</p>
            <p>@analysis.Adequacy</p>
            <p>Коэффициент эластичности: @analysis.Elasticity</p>
        </div>
    }
</div>

@code
{
    private string XsInput;
    private string YsInput;
    private double a = 0.05;
    private bool IsClicked;

    private MathStatistics.Analysis analysis;
    
    PlotlyChart chart;

    Config config = new Config
    {
        Responsive = true
    };

    Layout layout = new Layout
    {
    // // Title = new Title
    // // {
    // //     Text = "Scatter"
    // // },
    // YAxis = new List<YAxis>
    // {
    //     new YAxis
    //     {
    //         Title = new Plotly.Blazor.LayoutLib.YAxisLib.Title
    //         {
    //             Text = "Y"
    //         }
    //     }
    // },
    // XAxis = new List<XAxis>
    // {
    //     new XAxis
    //     {
    //         Title = new Plotly.Blazor.LayoutLib.XAxisLib.Title
    //         {
    //             Text = "X"
    //         }
    //     }
    // }
    };

    private async Task DeleteScatter()
    {
        await chart.DeleteTrace(0);
    }
    
    private async Task CalcAndDraw(string xs, string ys, double a)
    {
        try
        {
            analysis = AnalysisService.GetAnalysisAsync(xs, ys, a).Result;
        }
        catch (AggregateException)
        {
            return;
        }

        await chart.AddTrace(new Scatter
        {
            Name = "Исходные данные",
            Mode = ModeFlag.Markers,
            X = analysis.Xs,
            Y = analysis.Ys,
            XAxis = "X",
            YAxis = "Y"
        });

        await chart.AddTrace(new Scatter
        {
            Name = "Уравнение регрессии",
            Mode = ModeFlag.Lines,
            X = analysis.Xs,
            Y = analysis.YsLin,
            XAxis = "X",
            YAxis = "Y"
        });
    }

    private async Task Clear()
    {
        await chart.Clear();
        analysis = null;
        XsInput = null;
        YsInput = null;
        a = 0;
    }
}